<!-- views/index.ejs -->
<!doctype html>
<html>
  <head>
      <title>Andzup</title>
  </head>
  <body>
    <div>
      <div>
        <h1><span></span>Andzup</h1>
        <p>Login or Register with:</p>
          <a href="/login"><span></span>Local Login</a>
          <a href="/signup"><span></span>Local Signup</a>
          <a href="/profile"><span></span>Profile</a>
          <a href="/logout">Logout</a>
        </div>
    </div>
  </body>
</html>