<% include ../partials/head %>
  <div>
    <div>
      <h1><span></span>Andzup</h1>
      <p>Login or Register with:</p>
        <a href="/login"><span></span>Local Login</a>
        <a href="/signup"><span></span>Local Signup</a>
        <a href="/profile"><span></span>Profile</a>
        <a href="/logout">Logout</a>
        <p>Login or Register with:</p>
        <a href="/auth/facebook"><span></span>Facebook</a>
      </div>
  </div>
  <% include ../partials/footer %>